/*  Project Midterm
	Names: 	Bianca
			Jintak
			Javier
			Nagisa */
			/*for whole page*/


/*Main page CSS*/

body {
  font-family: "Times New Roman", Georgia, Serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/*main page Navigation*/
#main-page-nav {
  background-color: #7F7F7F;
  height: 80px;
}

#main-page-nav ul {
  list-style-type: none;
  margin:0;
  padding: 0;
  float: right;
}

#main-page-nav li {
    display: inline-block;
    margin-left: 30px;
    padding-top: 10px;
}

#main-page-nav li a {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

#main-page-nav li a:hover {
  color: #f6e6f7;
}

/* main Top image*/
#main-image {
  background: url("../project_midterm/images/global_main.png");
  background-size: cover;
  background-position: 10% 40%;
  border-bottom: 30px solid #7F7F7F;
  width: 100%;
  height: 500px;
}

/*Welcome page*/
#welcome-page,
#our-country {
  border-bottom: 1px solid #7F7F7F;
  padding-bottom: 30px;
}

#welcome-page h1 {
	font-size: 2em;
	text-align: center;
}

/*Table page*/
.main_table, th, td{
    font-size:  1.1em;
    border: 1px solid black;

}

th{
  padding: 10px;
  text-align: center;
}

td{
  padding: 10px;
  text-align: center;
}

/*End Table page*/

/*Country Jump page*/
#our-country .container {
	padding-left: 150px;
}

#our-country {
  padding-bottom: 150px;
}

#our-country h1 {
  text-align: center;
}

#our-country img {
  border-radius: 30px;
  max-width: 200px;
  height: auto;
  opacity: 0.75;
}

#our-country .box {
  float: left;
  width: 20%;
  padding: 10px;
  text-align: center;
}

/*layout clearfix*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*========Contacf Forms======*/
#contact h1,p {
  text-align: center;
}

#contact {
  padding-bottom: 160px;
}

form {
   max-width: 600px;
   margin: 0 auto;
 }

 input,textarea {
     padding: 1em;
     border-radius: 8px;
     border: 1px solid #cfcfd1;
     /*display: block;*/
     width: 100%;
     margin-top: 1em;
 }

textarea {
  height: 100px;
}

.button_wrapper {
  text-align: center;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #7F7F7F;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 4px;
  border-bottom: 4px solid #E7E6E6;
  margin: 10px 0;
}

/*========footer area=========*/
html,body{
     height: 100%;
}
#wrap {
     width: 100%;
     position: relative;
     min-height: 100%;
}

.main-page-footer {
    height: 60px;
    position: fixed;
    bottom: 0;
    background-color: #7F7F7F;
    color: #fff;
    text-align: center;
    width: 100%;
}


/*======END OF MAIN PAGE CSS========*/





/*========CSS Japan page===========*/

body {
  font-family: "Times New Roman", Georgia, Serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/*====Navigation bar=======*/
nav {
  background-color: #c1223a;
  height: 80px;
}

.logo {
  display: inline-block;
  float: left;
}

.logo a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 600;
}

#main-nav {
  list-style-type: none;
  margin:0;
  padding: 0;
  float: right;
}

#main-nav li {
    display: inline-block;
    margin-left: 30px;
    padding-top: 10px;
}

#main-nav li a {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: bold;
}

#main-nav li a:hover {
  color: #f6e6f7;
}

#main-top {
  background: url("images/main.jpg");
  background-size: cover;
  background-position: 10% 40%;
  border-bottom: 30px solid #c1223a;
  width: 100%;
  height: 500px;
}

/*=====About area=======*/
#about .container,
#culture .container{
  border-bottom: 1px solid #c1223a;
  padding-bottom: 50px;
}

#about h1 {
  text-align: center;
  padding: 50px;
  font-size: 3em;
  letter-spacing: 2px;
}

#left {
  float: left;
  width: 40%;
  padding-right: 10px;
}


/*=======Culture area=========*/

#right {
  float: right;
  width: 40%;
  padding-left: 10px;
}

/*=====Food area==========*/
#food .container {
	padding-left: 90px;
}

#food {
  padding-bottom: 150px;
}

#food h1 {
  text-align: center;
}


#food img {
  border-radius: 30px;
  max-width: 300px;
  height: auto;
  opacity: 0.75;
}

#food .box {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}


/*layout clearfix*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/*========footer area=========*/
html,body{
     height: 100%;
}
#wrap {
     width: 100%;
     position: relative;
     min-height: 100%;
}

footer {
    height: 60px;
    position: fixed;
    bottom: 0;
    background-color: #c1223a;
    color: #fff;
    text-align: center;
    width: 100%;
}



/*CSS Brazil Page*/


.brheader{
	background-color: #FFE11F;
	color: #16B83E;
    padding-right:20px;
    padding-left:20px;
}

#brcontainer{
	display: table;
    table-layout: fixed;
    width: 100%;
}

#container:before, #brmiddle, #brright {
    display: table-cell;
}

#brmiddle{
    width: 50%;
    text-align: center;
    font-size: 3em;
    font-style: italic;
    font-weight: bold;
}
#brright{
    float: right;
}

.brbody{
	background-image: url("br_back.jpeg");
	margin-left: auto;
	margin-right: auto;
	background-color: #F0F0F0;
	font-family: Arial;
	font-size: 1em;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;

}

.brnav{
	background-color: #1651B8;
	padding: 5px;
	margin-top: 2px;
	border-color: green;
	border-style: solid;

}

nav li a{
	color: #FFE11F;
}

.brli{
	display: inline;
	font-size: 1.3em;
	font-variant: small-caps;
	margin-left: 15px;
	margin-right: 15px;
}


.brsection{
	background-color: #BFBFBF;
	margin-top: 10px;
	padding: 3px;
}

#brarticle{
	background-color: white;
	margin-top: 15px;
	padding: 10px 15px;
}

#brmain{
	width: 100%;
}

#brdiv1{
	margin-top: 15px;
	margin-bottom: 15px;
	float: left;
}

#brdiv2{
	margin-top: 15px;
	margin-bottom: 15px;
	float: right;
}

footer div a {
	padding: 6px;
}
